/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.pokemon-container-description-line{
  background: lightgray;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5EM;
}

.pokemon-container-title-p{
  text-align: center;
}

.pokemon-container-title-a{
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}
